* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: black;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
}
div img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 40px 0;
}
